#display {
  display: grid;
  grid-template-columns: repeat(3, 180px) ;
  grid-template-rows: repeat(3, 150px); 
}

.slot {
  font-size: 5em;
}

#slot0 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#slot1 {
  border-bottom: 2px solid black;
}

#slot2 {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#slot3 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#slot4 {
  border-bottom: 2px solid black;
}

#slot5 {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

#slot6 {
  border-right: 2px solid black;
}

#slot8 {
  border-left: 2px solid black;
}